* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.colorfondo {
	background-color: #FF7FB8;
    height: 665px;
    margin-left: 0%;
    margin-top: -2%;
}

.entrada1 {
    width: 600px;
    height: 600px;
	margin-top: -32%;
    margin-left: 55%;
}

.claseboton {
	margin-left: 25%;
	margin-top: 4%;
	background-color: #6B4831;
    color: #FDE2C3 !important;
    padding: 23px !important;
    font-family: 'Acme', sans-serif;
}

.ediciontitulo {
	color: #FDE2C3;
	font-family: 'Pacifico', cursive;
    margin-left: 185px;
    padding-top: 17%;
    font-size: 6em;
}

.colorfondo2 {
	background-color: #FF7FB8;
}

.caja{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	margin: 10px;
}
.cajaMayor  {
    border: 9px solid #fcf8e3;
    height: 609px;
    margin: 14px;
    margin-top: -15%;
    margin-left: -3%;
    width: 609px;
    background-image: url(../img/prueba4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.talladoll {
    height: 70%;
    width: 46%;
    margin-left: 30%;
    margin-top: 28%;
}

.colorsito {
	font-size: 31px !important;
    font-family: 'Acme', sans-serif !important;
    color: #FDE2C3 !important;
}

.edicionnombres {
    font-family: 'Coming Soon', cursive;
    text-align: center;
    color: #6B4831;
    margin-right: 12%;
    margin-top: -1%;
}
#ropa1{
    z-index: 1000;
}